@tailwind base;
@tailwind components;
@tailwind utilities;

/* 自訂 base */
@layer base {
  html {
    font-family: 'Roboto', 'Noto Sans TC', -apple-system, BlinkMacSystemFont, "Segoe UI", "Microsoft JhengHei", "Helvetica Neue", Arial, system-ui, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
  }

  .material-symbols-outlined {
    font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 48;
  }
}

/* 自訂 components */
@layer components {
  .btn {
    @apply inline-block py-1.5 px-3 uppercase;
  }

  .btn-primary {
    @apply text-white bg-primary;
  }

  .btn-primary:hover {
    @apply bg-primary-light
  }

}

/* 自訂 utilities */
@layer utilities {

}